h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	width: 100%;
	font-family: 'germania';
}


.container {
	height: 90vh;
	margin: 2rem;
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.card-body{
	display: flex;
	justify-content: center;
	font-family: 'germania';

}

.wrapper{
	display: flex;
	justify-content: center;
}

.card:hover {
    transform: scale(1.1);
}

.card-body{
	font-size: x-large;
}