@font-face {
    font-family: 'germania';
    src: url(fonts/GermaniaOne-Regular.ttf);
}

@font-face {
    font-family: 'alien';
    src: url(fonts/Alienscows-Bold-Trial.ttf);
}

.container {
    width: 100vw;
    margin: 0px;
}

.all-artist{
    max-width: 900;
}

.navbar {
    font-family: 'germania';
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
}

.navbar-brand {
    font-family: 'germania';
    text-shadow: 7px 5px red;
    font-size: 40px;
}

.nav .nav-item1 :hover {
    color:black;
    transform: scale(1.1);
}

.nav .nav-item3 :hover {
    color:black;
    transform: scale(1.1);
}

.nav .nav-item4 :hover {
    color:black;
    transform: scale(1.1);
}

.nav-link{
    color:black;
}

.nav-link:hover{
    color:black;
    transform: scale(1.5);
    transition: 0.20s linear;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.artist-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 30px;
    transition: transform .4s ease;
    width: 100%;
}

.artist-container:hover {
    transform: scale(1.1);
}

.artist-picture {
    width: 190px;
    margin: 0 15px 0;
    padding: 0;
}

.card {
    width: 1000px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 12px 20px 10px rgb(0 0 0 / 0.2);
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.btn {
    margin-right: 10px;
}

.artist-text {
    font-family: 'germania';
}

.artist-info {
    font-family: 'alien';
}

.content {
    display: flex;
    margin: 20px ;
    align-items: center;
}

.img-thumbnail {
    width: 400px;
    box-shadow: 12px 20px 10px rgb(0 0 0 / 0.2);
}

.header1 {
    margin: 30px;
    display: block;
    font-family: 'germania';
    font-size: 60px;
}

.header2 {
    margin: 45px;
}

.artist-life { 
    display: flex;
    justify-content:space-between;
    width: 20vw;
    flex-wrap: wrap;

}

.header6 {
    display: flex;
    font-family: 'germania';
    margin: 0px;

}
